html 
    head 
        title #{title} 

    body 
        h1 You are my guy.
        p what does that even mean 
        img(src="https://arweave.net/ZZvEEcjQ5kyYbGcbHXszXsDsHAkBHwaX_IzHpWnKBwQ", alt="https://veritree.infura-ipfs.io/ipfs/QmSVvrZhTS8XmkGu6uhem4cuSmSXnNKFtzE3pWC2hZ7SbJ")